{% extends('layouts/layout.html.twig') %}

{% block contents %}
    <h1>Resource Controller Samples</h1>

    {% if id %}
        <a href="{{ path('resource', {action:'show', id:id}) }}">back to id: {{ id }}</a>
    {% else %}
        <a href="{{ path('resource') }}">back to resource sample</a>
    {% endif %}

    <h2>Controller::{{ method }}{% if id %}, id={{ id }}{% endif %}</h2>

    {% if method == 'onDeleteForm' %}
        <form action="" method="post">
            {{ hidden_csrf_token()|raw }}
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    {% elseif method == 'onUpdateForm' %}
        <form action="" method="post">
            {{ hidden_csrf_token()|raw }}
            <input type="hidden" name="_method" value="update">
            <input type="submit" value="Update">
        </form>
    {% elseif method == 'onCreateForm' %}
        <form action="" method="post">
            {{ hidden_csrf_token()|raw }}
            id: <input type="number" name="id" value="123">
            <input type="submit" value="Create">
        </form>
    {% endif %}


    {% if method == 'onShow' %}
        <ul>
            <li><a href="{{ path('resource', {action: 'update', id: id}) }}">update form</a></li>
            <li><a href="{{ path('resource', {action: 'delete', id: id}) }}">delete form</a></li>
        </ul>
    {% elseif method == 'onList' %}
        <ul>
            <li><a href="{{ path('resource', {action: 'create'}) }}">create form</a></li>
        </ul>
    {% endif %}

{% endblock %}