{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Form Building</h1>

    <h3>Sample Form</h3>
    {% import "layouts/forms.macro.twig" as f %}
    <form action="" method="post">
        <label>
            Name:
            {{ f.text('name') }}
        </label>

        <div class="grid">
            <div>
                <fieldset>
                    <legend>Say Yeah!</legend>
                    {{ f.checkbox('say', 'yeah', 'Yeah!!') }}
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Language:</legend>
                    {{ f.select('language', {'':'未選択', en: 'English', ja: '日本語'}) }}
                </fieldset>
            </div>
        </div>

        <h3>Favorite Development Tools:</h3>
        <div class="grid">
            <div>
                <fieldset>
                    <legend>Favorite Framework:</legend>
                    {{ f.radio('dev[framework]', {LARAVEL: 'Laravel', SYMFONY: 'Symfony', SLIM: 'Slim'}) }}
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>AI Assets:</legend>
                    {{ f.checkList('dev[ai][]', {CHATGPT: 'ChatGPT', GEMINI: 'Gemini', CLAUDE: 'Claude'}) }}
                </fieldset>
            </div>
        </div>

        <h3>Profile:</h3>
        <fieldset>
            <legend>Your Email:</legend>
            {{ f.email('profile[email]') }}
        </fieldset>

        <fieldset>
            <legend>Birthday:</legend>
            {{ f.date('profile[birthday]') }}
        </fieldset>

        <h3>Note:</h3>
        <fieldset>
            <legend>Your Note:</legend>
            {{ f.textarea('note') }}
        </fieldset>

        <input type="hidden" id="token" name="{{ csrfTokenName() }}" value="{{ csrfTokenValue() }}">
        <div class="grid">
            <div>
                <input type="submit" value="POST">
            </div>
            <div>
                <input type="submit" value="With Error" name="with_error" class="secondary">
            </div>
        </div>
    </form>

{% endblock %}