{% extends('layouts/layout.html.twig') %}

{% block style %}
    <style>
        div.mailBody {
            margin: 1em;
            padding: 1em;
            border: 1px solid #cccccc;
            border-radius: .5em;
            background-color: #f0f0f0;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 1em;
        }
        th, td {
            border: 1px solid #cccccc;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            width: 150px;
        }
    </style>
{% endblock %}

{% block contents %}

    <h1>Mail Samples</h1>

    <table>
        <tr>
            <th>Subject</th>
            <td>{{ mailer.subject }}</td>
        </tr>
        <tr>
            <th>mailTo</th>
            <td>{{ mailer.mailTo|mailAddress|e }}</td>
        </tr>
        <tr>
            <th>from</th>
            <td>{{ mailer.from|mailAddress|e }}</td>
        </tr>
        <tr>
            <th>cc</th>
            <td>{{ mailer.cc|mailAddress|e }}</td>
        </tr>
        <tr>
            <th>bcc</th>
            <td>{{ mailer.bcc|mailAddress|e }}</td>
        </tr>
        <tr>
            <th>HTML</th>
            <td>
                <div class="mailBody">
                    {{ mailer.render|raw }}
                </div>
            </td>
        </tr>
    </table>

    <form action="" method="post">
        <input type="hidden" id="token" name="{{ csrfTokenName() }}" value="{{ csrfTokenValue() }}">
        <input type="submit" value="Send Mail">
    </form>
{% endblock %}