{% extends('layouts/layout.html.twig') %}

{% block contents %}

<h1>Sorry!</h1>

{% if title %}
    <h3>{{ title|raw }}</h3>
{% endif %}

    <p>We have encountered errors...</p>

    {% if displayErrorDetails is true %}
        <h2>Error Details</h2>
        <p>{{ exception.message }}</p>
        <p>File: {{ exception.file }}</p>
        <p>Line# {{ exception.line }}</p>
        <pre>{{ exception.traceAsString }}</pre>
    {% endif %}

{% endblock %}