{% macro attribute(attributes) %}
    {% for attr, value in attributes %} {{ attr }}="{{ value }}"{% endfor %}
{% endmacro %}

{% macro input(name, type, attributes) %}
    {% from _self import attribute %}
    <input name="{{ name }}" type="{{ type }}"
           value="{{ getValue(name) }}"
           {{ attribute(attributes) }}
           {% if not attributes.id is defined %}id="{{ name }}"{% endif %}/>
    {% set error = getError(name) %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro text(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "text", attributes) }}
{% endmacro %}

{% macro password(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "password", attributes) }}
{% endmacro %}

{% macro email(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "email", attributes) }}
{% endmacro %}

{% macro color(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "color", attributes) }}
{% endmacro %}

{% macro button(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "button", attributes) }}
{% endmacro %}

{% macro date(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "date", attributes) }}
{% endmacro %}

{% macro file(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "file", attributes) }}
{% endmacro %}

{% macro hidden(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "hidden", attributes) }}
{% endmacro %}

{% macro month(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "month", attributes) }}
{% endmacro %}

{% macro number(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "number", attributes) }}
{% endmacro %}

{% macro range(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "range", attributes) }}
{% endmacro %}

{% macro search(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "search", attributes) }}
{% endmacro %}

{% macro tel(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "tel", attributes) }}
{% endmacro %}

{% macro time(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "time", attributes) }}
{% endmacro %}

{% macro url(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "url", attributes) }}
{% endmacro %}

{% macro week(name, attributes) %}
    {% from _self import input %}
    {{ input(name, "week", attributes) }}
{% endmacro %}

{% macro textarea(name, attributes) %}
    {% from _self import attribute %}
    <textarea name="{{ name }}"
            {{ attribute(attributes) }}
            {% if not attributes.id is defined %} id="{{ getValue(name) }}"{% endif %}
    >{{ getValue(name)|e }}</textarea>
    {% set error = getError(name) %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro label(id, content, attributes) %}
    {% from _self import attribute %}
    <label for="{{ id }}"{{ attribute(attributes) }}>{{ content|e }}</label>
{% endmacro %}

{% macro checkbox(name, key, label, attributes, hideError) %}
    {% from _self import attribute %}
    {% from _self import idName %}
    <label>
        <input type="checkbox" name="{{ name }}"
                {% if checkIf(name, key) %} checked="checked"{% endif %}
                {% if not attributes.id is defined %} id="{{ idName(name, key) }}"{% endif %}
               value="{{ key }}"
                {{ attribute(attributes) }} /> {{ label }}
    </label>

    {% if hideError is not defined %}
        {% set showError = true %}
    {% else %}
        {% set showError = not hideError %}
    {% endif %}
    {% if showError %}
        {% set error = getError(name) %}
        {% if error and showError %}
            <p class="error">{{ error }}</p>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro checkList(name, values, value, attributes) %}
    {% from _self import checkbox %}
    {% from _self import idName %}
    {% for key, label in values %}
        {{ checkbox(name, key, label, attributes, true) }}
    {% endfor %}
    {% set error = getError(name) %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro select(name, values, attributes) %}
    {% from _self import attribute %}
    <select name="{{ name }}"{{ attribute(attributes) }}
        {% if not attributes.id is defined %} id="{{ name }}"{% endif %}>
        {% for key, label in values %}
        <option value="{{ key }}"
                {% if checkIf(name, key) %} selected="selected"{% endif %}
        >{{ label }}</option>
    {% endfor %}
    </select>
    {% set error = getError(name) %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro radio(name, values, attributes) %}
    {% from _self import attribute %}
    {% from _self import idName %}
    {% for key, label in values %}
        <label{% if value == key %} class="selected"{% endif %}
            ><input type="radio" name="{{ name }}"
                    value="{{ key }}"
                    {% if checkIf(name, key) %} checked="checked"{% endif %}
                    {{ attribute(attributes) }}
                    {% if not attributes.id is defined %} id="{{ idName(name, key) }}"{% endif %}
            > {{ label }}</label>
    {% endfor %}
    {% set error = getError(name) %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endmacro %}

{% macro idName(name, value) %}
    {% if value is defined %}
        {% set id = name ~ '-' ~ value %}
    {% else %}
        {% set id = name %}
    {% endif %}
    {{ id|replace({'[]':'', '[':'_', ']':''}) }}
{% endmacro %}
