{% macro attribute(attributes) %}
    {% for attr, value in attributes %} {{ attr }}="{{ value }}"{% endfor %}
{% endmacro %}

{% macro input(name, value, type, attributes) %}
    {% from _self import attribute %}
    <input name="{{ name }}" type="{{ type }}"
           value="{{ value }}"
           {{ attribute(attributes) }}
           {% if not attributes.id is defined %}id="{{ name }}"{% endif %}/>
{% endmacro %}

{% macro text(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "text", attributes) }}
{% endmacro %}

{% macro password(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "password", attributes) }}
{% endmacro %}

{% macro email(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "email", attributes) }}
{% endmacro %}

{% macro color(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "color", attributes) }}
{% endmacro %}

{% macro button(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "button", attributes) }}
{% endmacro %}

{% macro date(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "date", attributes) }}
{% endmacro %}

{% macro file(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "file", attributes) }}
{% endmacro %}

{% macro hidden(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "hidden", attributes) }}
{% endmacro %}

{% macro month(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "month", attributes) }}
{% endmacro %}

{% macro number(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "number", attributes) }}
{% endmacro %}

{% macro range(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "range", attributes) }}
{% endmacro %}

{% macro search(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "search", attributes) }}
{% endmacro %}

{% macro tel(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "tel", attributes) }}
{% endmacro %}

{% macro time(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "time", attributes) }}
{% endmacro %}

{% macro url(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "url", attributes) }}
{% endmacro %}

{% macro week(name, value, attributes) %}
    {% from _self import input %}
    {{ input(name, value, "week", attributes) }}
{% endmacro %}

{% macro textarea(name, value, attributes) %}
    {% from _self import attribute %}
    <textarea name="{{ name }}"
            {{ attribute(attributes) }}
            {% if not attributes.id is defined %} id="{{ name }}"{% endif %}
    >{{ value|e }}</textarea>
{% endmacro %}

{% macro label(id, content, attributes) %}
    {% from _self import attribute %}
    <label for="{{ id }}"{{ attribute(attributes) }}>{{ content|e }}</label>
{% endmacro %}

{% macro checkbox(name, value, attributes) %}
    {% from _self import attribute %}
    {% from _self import idName %}
    <input type="checkbox" name="{{ name }}"
            {% if not attributes.id is defined %} id="{{ idName(name, value) }}"{% endif %}
           class="{{ class }}" value="value"{{ attribute(attributes) }} />
{% endmacro %}

{% macro checkList(name, values, value, attributes) %}
    {% from _self import checkbox %}
    {% from _self import idName %}
    {% for key, value in values %}
        <label>{{ checkbox(name, key) }}{{ value }}</label>
    {% endfor %}
{% endmacro %}

{% macro select(name, values, value, attributes) %}
    {% from _self import attribute %}
    <select name="{{ name }}"{{ attribute(attributes) }}{% if not attributes.id is defined %} id="{{ name }}"{% endif %}>
    {% for key, name in values %}
        <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
    {% endfor %}
    </select>
{% endmacro %}

{% macro radio(name, values, value, attributes) %}
    {% from _self import attribute %}
    {% for key, label in values %}
        <label{% if value == key %} class="selected"{% endif %}
            ><input type="radio" name="{{ name }}" value="{{ key }}"{% if value == key %} checked="checked"{% endif %}{{ attribute(attributes) }}{% if not attributes.id is defined %} id="{{ name }}_{{ key }}"{% endif %}> {{ label }}</label>
    {% endfor %}
{% endmacro %}

{% macro idName(name, value) %}
    {% if value is defined %}
        {% set id = name ~ '-' ~ value %}
    {% else %}
        {% set id = name %}
    {% endif %}
    {{ id|replace({'[]':'', '[':'_', ']':''}) }}
{% endmacro %}
