<!Document html>
<html lang="en">
<head>
    <title>Deca PHP</title>
    <meta charset="utf-8">

    <link rel="icon" type="image/png" href="/images/deca-logo.png">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"
    >
    <link rel="stylesheet" href="/demo.css">
    {% block style %}{% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li><strong><a class="header-title" href="/">Deca Framework</a></strong></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('samples-flash')}}">flash</a></li>
            <li><a href="{{ url_for('samples-csrf') }}">CSRF</a></li>
            <li><a href="{{ url_for('samples-error') }}">Error</a></li>
        </ul>
    </nav>
</header>

<main class="container">
    {% for msg in flashNotices() %}
        <dialog open id="alert-dialog">
            <article class="alert-error">
                <header>
                    <button onclick="document.getElementById('alert-dialog').style.display='none'" aria-label="Close" rel="prev"></button>
                    <strong>Error！</strong>
                </header>
                {{ msg|raw }}
            </article>
        </dialog>
    {% endfor %}
    {% for msg in flashMessages() %}
        <dialog open id="success-dialog">
            <article class="alert-success">
                <header>
                    <button onclick="document.getElementById('success-dialog').style.display='none'" aria-label="Close" rel="prev"></button>
                    <strong>Message:</strong>
                </header>
                {{ msg|raw }}
            </article>
        </dialog>
    {% endfor %}

    {% block contents %}
    {% endblock %}
</main>

<p>&nbsp;</p>
<p>&nbsp;</p>
<footer>
    <h2>twig functions</h2>
    <dl>
        <dt>current_url()/path()</dt>
        <dd>{{ currentUrl() }}</dd>
        <dt>csrf_token()</dt>
        <dd>{{ csrfTokenName() }}: {{ csrfTokenValue() }}</dd>
        <dt>base_path()</dt>
        <dd>{{ basePath() }}</dd>
    </dl>

</footer>

</body>
</html>