<!Document html>
<html lang="en">
<head>
    <title>Deca PHP</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/demo.css">
    {% block style %}{% endblock %}
</head>
<body>
<header>
    <a class="header-title" href="/">Deca PHP</a>
</header>

<div class="contents">
    {% for msg in flashNotices() %}
        <div class="alert alert-notice"><p class="alert-title">notice:</p>{{ msg|raw }}</div>
    {% endfor %}
    {% for msg in flashMessages() %}
        <div class="alert alert-message">{{ msg|raw }}</div>
    {% endfor %}

    {% block contents %}
    {% endblock %}
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
<footer>
    <h2>twig functions</h2>
    <dl>
        <dt>current_url()/path()</dt>
        <dd>{{ currentUrl() }}</dd>
        <dt>csrf_token()</dt>
        <dd>{{ csrfTokenName() }}: {{ csrfTokenValue() }}</dd>
        <dt>base_path()</dt>
        <dd>{{ basePath() }}</dd>
    </dl>

</footer>

</body>
</html>